.tnk-playground-sections-container {
  margin: var(--tnk-space-xl) auto;
  max-width: var(--tnk-container-max-width);
  padding: 0 var(--tnk-space-xl);
}

.tnk-extension-pages-section {
  margin-bottom: var(--tnk-space-xl);
  &:last-child {
    margin-bottom: 0;
  }
}

.tnk-extension-pages-section__title {
  font-size: var(--tnk-title-font-size);
  font-weight: var(--tnk-font-weight-semibold);
  color: var(--tnk-text-primary);
}
