@import '@mantine/core/styles.css';

@import 'tanaka_vars';

// Import Mantine CSS variables that use Tanaka variables
@import 'mantine_vars';

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--tnk-bg-primary);
  color: var(--tnk-text-primary);
  font-family: var(--tnk-font-family);
}
